.button,
button {
    display: block;

    font-weight: bold;

    @extend .no-link-style;

    // states
    &:hover {
        cursor: pointer;
    }

    // multi-button margin
    &:not(:last-child) {
        margin-right: 0.4em;
    }

    // variations

    &.button--link {
        padding: 0.65em 1.2em 0.65em 1em;

        background: rgba(black, 0.05);
        border-radius: 999px;
        transition: background 200ms ease;

        i {
            font-size: 0.9em;
            margin-right: 5px;
            opacity: 0.8;
        }

        &:hover {
            background: rgba(black, 0.1);
            color: $color-encourage;
        }
    }

    &.button--attachment {
        display: inline-flex;
        align-items: center;

        padding: 12px 15px;
        filter: opacity(0.9);
        font-size: 0.9em;
        border: 1px solid rgba(white, 0.4);
        border-radius: 8px;

        transition: 200ms ease;
        transition-property: filter, background, border-color;

        i {
            margin-right: 10px;
            font-size: 0.75em;
        }
        span {
            margin-right: 2px;
        }

        &:hover {
            border-color: rgba(black, 0.7);
            background: rgba(black, 0.05);
        }
    }

    &.button--ghost {
        transition: opacity 200ms ease;
        color: $color-encourage;

        &:hover {
            color: $body-text-color;
            opacity: 0.6;
        }
    }

    &.button--full {
        display: inline-block;
        padding: 0.8em 1em;
        background: white;

        border-radius: 3px;
    }
}
