// TODO: will be obsolete after integration
#panel-page {
    width: 60vw;
    height: 60vh;
    margin: 15vh auto;

    #tools {

        margin-bottom: 12px;
        display: flex;

        button {
            display: block;
            background: $gray;
            border-radius: 999px;
            border:none;
            color: white;
            padding: .8em 1em;;

            font-size: 16px;
            font-weight: 400;

            margin-right: 2em;
        }
    }
}

#panel {

    // TODO: will be obsolete after integration
    height: 100%;
    box-shadow: 0px 10px 69px -22px rgba(0,0,0,0.75);

    //

    background: $body-background-color;

    display: flex;
    flex-direction: column;

    #panel__comments {
        flex-grow: 1;
    }
}


#panel__heading {
    background: $green;
    color: white;

    padding: .5em .8em;
}

#panel form {

    $spacing: .6em;

    display: flex;
    padding: $spacing;

    input, button {
        border: none;

        border-radius: 999px;

        // remove input selection border (accessibility issues?)
        outline: none !important;

    }

    input[type=text] {
        flex-grow: 1;
        padding: .8em 1.4em;
        margin-right: $spacing;

        color: $body-text-color;
        background: $gray-light;

        font-size: 16px;
    }

    button {
        background: $pink;
        color: white;

        width: 3em;
        height: 3em;

        box-shadow: 0px 5px 12px -10px rgba(0,0,0,0.75);
    }
}