// TODO: remove, will be obsolete after integration
#panel-page {
    width: 60vw;
    height: 60vh;
    margin: 15vh auto;

    #tools {

        margin-bottom: 12px;
        display: flex;

        button {
            display: block;
            background: $gray;
            border-radius: 999px;
            border:none;
            color: white;
            padding: .8em 1em;;

            font-size: 16px;
            font-weight: 400;

            margin-right: 2em;
        }
    }

    #panel {
        height: 100%;
        box-shadow: 0px 10px 69px -22px rgba(0,0,0,0.75);
    }
}

#panel {

    background: $body-background-color;

    display: flex;
    flex-direction: column;

    #panel__heading {
        background: $green;
        color: white;

        display: flex;

        padding: 1em 1.2em .8em;

        > span {
            flex: 1;
            font-weight: 700;
        }
    }

    #comments-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 .8em;
        overflow: hidden;

        #comments__scroll-wrapper {
            overflow-y: scroll;
        }

        .comments-spacer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 4em 0 2em;
            
            button {
                background: none;
                padding: none;
                margin: 0 auto;

                font-family: inherit;
                font-size: inherit;

                padding: .4em .8em;
                color: inherit;
                border: 2px solid $gray;
                border-radius: 999px;
                opacity: .5;

            }
        }
    }

    form {

        $spacing: .6em;

        display: flex;
        padding: $spacing;
        padding-top: .8em;
        border-top: 1px solid $gray-light;

        input, textarea, button {
            border: none;

        }

        input, textarea {
            -webkit-appearance: none;

            flex-grow: 1;
            padding: .8em 1.4em;
            margin-right: $spacing;

            color: $body-text-color;
            background: $gray-light;

            min-width: 0;

            font-size: 16px;
        }

        textarea {
            resize: none;
            line-height: inherit;
            border-radius: 35px;
        }

        button {
            border-radius: 999px;
            background: $pink;
            color: white;

            min-width: 3em;
            height: 3em;

            transition: background 200ms ease;
            box-shadow: 0px 5px 12px -10px rgba(0,0,0,0.75);

            &:hover {
                background: $pink-dark;
            }
            i {
                position: relative;
                margin-left: -3px;
                margin-top: 2px;
            }
        }
    }
}

