.user {
    span {
        margin-right: 0.6em;
    }

    a {
        color: white;
        padding: 0.4em 0.8em;
        border: 2px solid rgba(white, 0.6);
        border-radius: 999px;
        font-weight: 700;
    }
}
