.user {

    span {
        margin-right: .6em;
    }

    a {
        color: white;
        padding: .4em .8em;
        border: 2px solid rgba(white, .6);
        border-radius: 999px;
        font-weight: 700;
    }
}